{% extends "index.html" %}
{% block main %}
    <div class="container-border">
        <div class="media">
            <img class="d-flex rounded m-3 img-fluid" style="width: 100px;" alt="profile_pic"
                 src="{{ user.image_file }}">
            <div class="media-body m-3 ml-0">
                <h3>{{ user.username }}</h3>
                <p class="text-muted">{{ user.email }}</p>
                <p class="">{{ user.description }}</p>
            </div>
        </div>
    </div>

{% endblock main %}
